#projects{
    box-sizing: border-box;
    min-height: 100vh;
    width: 100%;
    padding: 20px 30px;
    // margin-top: 50px;
    transition: 0.4s ease-in;
    // overflow: hidden;
}
.projects__header{
    text-align: center;
    font-family: Helvetica, Arial;
    letter-spacing: 2px;
    color: rgb(75, 75, 75);
    position: relative;
    z-index: 3;
    margin: 0 auto;
    margin-bottom: 50px;
    background: rgba(238, 238, 238, 0.925);
    padding: 17px 30px;    
    width: fit-content;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    opacity: 0.3;
}
.projects__container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    // background-color: red;
    // overflow: hidden;
}
.project__wrapper{
    min-width: 300px;
    max-width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    // align-items: flex-start;
    justify-content: center;
    padding: 20px 0;

    &:nth-of-type(2) {
        flex-direction: row-reverse;
        .project__text-section {
            &:before {
                left: -70%;
            }
        }
        .project__img-wrapper {
            @media all and (min-width: 720px) {
                margin-left: 0;
                margin-right: 60px;
            }
        }
    }

    @media all and (min-width: 720px) {
        margin-bottom: 60px;
    }
}
.project__text-section{
    width: 45%;
    min-width: 300px;
    margin-bottom: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media all and (min-width: 720px) {
        margin-bottom: 20px;
        &::before {
            content: '';
            position: absolute;
            top: -9%;
            left: -10%;
            width: 175%;
            height: 120%;
            background-color: #eef4ff;
            background-color: #a5adb31c;
            z-index: -5;
            border-radius: 5px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.01);            animation: showfromleft 0.2s ease-in forwards;
            transform: translateX(-50px);

            @keyframes showfromleft {
                0%{
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                    transform: translate(0);
                }
            }
        }
    }
}
.project__title{
    position: relative;
    @extend %font;
    padding-left: 10px;
    .project__num {
        color: rgba(0, 0, 0, 0.090);
        font-size: 85px;
        position: absolute;
        top: -40px;
        left: -25px;
    }
}
.project__discreption{
    @extend %font;
}
.project__botton {
    @extend %font;
    a {
        text-decoration: none;
        padding: 7px 20px;
        background-color: rgb(94, 94, 94);
        color: rgb(255, 255, 255);
        border-radius: 5px;
        font-weight: 600;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1), 
        0 3px 1px -2px rgba(0,0,0,0.007), 
        0 1px 5px 0 rgba(0,0,0,0.2);
        transition: 130ms linear;

        &.private {
            background-color: rgb(161, 161, 161);
            cursor: text;
            &:hover {
                background-color: rgb(161, 161, 161);
                box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 
                0 3px 1px -2px rgba(0,0,0,0.12), 
                0 1px 5px 0 rgba(0,0,0,0.2);
            }
        }
        &:hover {
            background-color: rgb(102, 102, 102);
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);        
        }
    }
}
.project__img-wrapper{
    max-width: 320px;
    height: 220px;
    min-width: 300px;
    border-radius: 3px;
    // background-color: grey;
    margin: 0px 0px;   
    
    @media all and (min-width: 720px) {
        max-width: 416px;
        height: 286px;
        margin-left: 40px;
    }
}
.project__img {
    max-width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 3px;
    transition: 150ms linear;
    // transform: translateX(50px);

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }

    @media all and (min-width: 720px) {
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 10px 0 rgba(0, 0, 0, 0.06), 0 2px 4px -1px rgba(0, 0, 0, 0.12);
    }

}